@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1:wght@100..900&display=swap');

@font-face {
	font-family: 'Gotham Pro';
	src: url('../../fonts/GothamProBold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../../fonts/GothamProMedium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../../fonts/GothamProRegular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
