@use '../abstracts' as *;

.no-scroll {
	overflow: hidden;
}

.swiper-btn {
	@include center;
	@include box(50px, 50px, 30px);
	padding: 9px;
	background: $accent;
	&:hover {
		box-shadow: 0 4px 4px 0 #6c6c6c;
	}
}

.swiper-button-disabled {
	opacity: 0.5;
	pointer-events: none;
}

.btn-primary {
	@include center;
	color: $white;
	@include text-style(18px, 700, 20px, center);
	border-radius: 48px;
	background: linear-gradient(
		274deg,
		#ffc420 0%,
		#fe4b08 39%,
		#fe4b08 57%,
		#ffc420 100%
	);
	background-size: 200% 200%;
	box-shadow: 12px 0 12px 0 rgba(255, 255, 255, 0.25) inset,
		-2px -4px 8px 0 rgba(255, 255, 255, 0.25) inset;
	&:hover {
		background-position: 100% 0;
	}
	@media (max-width: 767px) {
		@include text-style(16px, 700, 18px, center);
	}
}

.btn-secondary {
	@include center;
	color: $black;
	@include text-style(18px, 700, 20px, center);
	border-radius: 40px;
	border: 2px solid $grey;
	background: $bg-light;
	box-shadow: 4px 4px 10px 2px #bcbcbc inset, -4px -4px 10px 2px #fff inset;
	&:hover {
		color: $accent;
		border-radius: 40px;
		border: 2px solid $accent;
		background: #ececec;
		box-shadow: 4px 4px 10px 2px #bcbcbc inset, -4px -4px 10px 2px #fff inset;
	}
	@media (max-width: 767px) {
		@include text-style(16px, 700, 18px, center);
	}
}

.fade-in {
	opacity: 0;
	transform: translateY(40px);
	transition: opacity 0.8s ease, transform 0.8s ease;
	will-change: opacity, transform;
}

.fade-in.is-visible {
	opacity: 1;
	transform: translateY(0);
}

.fade-opacity {
	opacity: 0;
	transition: opacity 0.8s ease;
	will-change: opacity;
}

.fade-opacity.is-visible {
	opacity: 1;
}

.scroll-to-top {
	@include center;
	position: fixed;
	right: 20px;
	bottom: 40px;
	@include box(50px, 50px, 50%);
	background-color: $bg-dark;
	cursor: pointer;
	opacity: 0;
	visibility: hidden;
	@include transition;
	z-index: 999;
	&:hover {
		background: $accent;
	}
}

.scroll-to-top.is-visible {
	opacity: 1;
	visibility: visible;
}

.breadcrumbs {
	@include flex(row, flex-start, center, 5px);
	overflow: hidden;
	&__item {
		@include center;
		color: $grey;
		@include text-style(15px, 400, 15px);
		flex-shrink: 0;
		@media (max-width: 991px) {
			font-size: 14px;
		}
		a {
			display: block;
		}
	}

	&__item:last-child {
		color: $black;
	}
}

.mb-main {
	margin-bottom: 100px !important;
	@media (max-width: 991px) {
		margin-bottom: 50px !important;
	}
}

.mt-main {
	margin-top: 100px !important;
	@media (max-width: 991px) {
		margin-top: 50px !important;
	}
}

.title {
	@include text-style(40px, 500, 42px);
	@media (max-width: 1024px) {
		@include text-style(32px, 500, 34px);
	}
	@media (max-width: 767px) {
		@include text-style(24px, 500, 28px);
	}
	span {
		&:not(:empty) {
			color: $accent;
		}

		&:empty {
			display: inline-block;
			@include box(9px, 9px, 20px);
			background: $accent;
			margin-left: 5px;

			@media (max-width: 1024px) {
				@include box(7px, 7px, 20px);
			}

			@media (max-width: 767px) {
				@include box(4px, 4px, 20px);
			}
		}
	}
}

.pagination {
	&__list {
		@include flex(row, center, center, 5px);
	}

	&__item {
		@include center;
	}

	&__item--next,
	&__item--prev {
		.pagination__link {
			@include box(auto, auto, 0);
			background: none !important;
		}
	}

	&__link {
		@include center;
		color: $black;
		@include text-style(20px, 400, 20px);
		@include box(30px, 30px, 30px);
		background: transparent;
		svg {
			fill: $black;
		}
	}

	&__item.is-active &__link {
		color: $white;
		background: $accent;
	}
	&__item:hover &__link {
		color: $white;
		background: $accent;
	}
}

.resume-upload {
	position: relative;
	width: 100%;
}

.resume-upload__area {
	position: relative;
	padding: 23px 24px;
	text-align: center;
	border-radius: 25px;
	border: 2px dashed $accent;
	cursor: pointer;
	@include transition;
}

.resume-upload__area.dragover {
	border-color: $accent;
	background: #f5f9ff;
}

.resume-input {
	position: absolute;
	inset: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	cursor: pointer;
}

.resume-upload__actions {
	margin-top: 15px;
}

.resume-upload__text {
	@include text-style(16px, 400, 18px, center);
}

.resume-upload__actions button {
	padding: 6px 12px;
	border: 1px solid $accent;
	background: $white;
	color: $accent;
	border-radius: 5px;
	@include text-style(16px, 400, 18px, center);
	cursor: pointer;
}

.resume-upload__actions button:hover {
	background: $accent;
	color: $white;
}

.form-checkbox {
	@include flex(row, flex-start, flex-start, 12px);
	cursor: pointer;
	margin-top: 10px;
	margin-bottom: 10px;
	@media (max-width: 767px) {
		gap: 10px;
	}

	input {
		opacity: 0 !important;
		width: 0 !important;
		height: 0 !important;
		position: absolute !important;
	}

	.checkmark {
		position: relative;
		@include box(20px, 20px, 5px);
		flex-shrink: 0;
		@include transition;
		border: 1px solid $accent;
		@media (max-width: 767px) {
			@include box(18px, 18px, 5px);
		}

		&::after {
			content: '';
			position: absolute;
			display: none;
			left: 6px;
			top: 3px;
			@include box(4px, 8px);
			border: solid $white;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg);
			@media (max-width: 767px) {
				left: 5px;
				top: 2px;
			}
		}
	}

	input:checked ~ .checkmark {
		background-color: $accent;
	}

	input:checked ~ .checkmark::after {
		display: block;
	}

	.checkbox-text {
		flex: 1;
		@include text-style(14px, 400, 16px);
		@media (max-width: 767px) {
			font-size: 14px;
		}
		a {
			text-decoration-line: underline;
			text-decoration-style: solid;
			text-decoration-skip-ink: auto;
			text-decoration-thickness: auto;
			text-underline-offset: auto;
		}
	}
}
