@use '../abstracts' as *;

.articles {
	margin-bottom: 100px;
	@media (max-width: 991px) {
		margin-bottom: 50px;
	}

	&__top {
		@include flex(row, space-between, center);
		margin-bottom: 50px;
		@media (max-width: 1024px) {
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__card {
		@include flex(column, flex-start, flex-start, 10px);
		&:hover {
			.articles__card-text {
				color: $accent;
			}
			.articles__card-img > img {
				transform: scale(1.2);
			}
		}
	}

	&__card-date {
		color: $grey;
		@include text-style(14px, 400, 16px);
	}

	&__card-img {
		@include box(100%, 219px, 10px);
		overflow: hidden;
		img {
			@include box(100%);
			object-fit: cover;
			@include transition;
		}
	}

	&__card-text {
		@include text-style(15px, 400, 18px);
		@include transition;
	}

	&__nav {
		@include flex(row, center, center, 20px);
		&.desktop {
			display: flex !important;
			@media (max-width: 767px) {
				display: none !important;
			}
		}
		&.mobile {
			display: none !important;
			@media (max-width: 767px) {
				margin-top: 20px;
				display: flex !important;
			}
		}
	}

	&__link {
		margin-top: 50px;
		@include flex(row, flex-end, center, 10px);
		@include text-style(32px, 400, normal);
		text-transform: uppercase;
		@include transition;
		@media (max-width: 991px) {
			margin-top: 20px;
			@include text-style(20px, 400, 22px);
		}
		svg {
			fill: $black;
			@include transition;
		}
		&:hover {
			color: $accent;
			svg {
				fill: $accent;
			}
		}
	}
}
