@use '../abstracts' as *;

.articles {
	margin-bottom: 100px;
	@media (max-width: 991px) {
		margin-bottom: 50px;
	}

	&__title {
		@include text-style(40px, 500, 42px);
		margin-bottom: 50px;
		@media (max-width: 1024px) {
			@include text-style(32px, 500, 34px);
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			@include text-style(24px, 500, 28px);
			margin-bottom: 20px;
		}
		span {
			display: inline-block;
			@include box(9px, 9px, 20px);
			background: $accent;
			margin-left: 5px;
			@media (max-width: 1024px) {
				@include box(7px, 7px, 20px);
			}
			@media (max-width: 767px) {
				@include box(4px, 4px, 20px);
			}
		}
	}

	&__card {
		@include flex(column, flex-start, flex-start, 10px);
		&:hover {
			.articles__card-text {
				color: $accent;
			}
			.articles__card-img > img {
				transform: scale(1.2);
			}
		}
	}

	&__card-date {
		color: $grey;
		@include text-style(14px, 400, 16px);
	}

	&__card-img {
		@include box(100%, 219px, 10px);
		overflow: hidden;
		img {
			@include box(100%);
			object-fit: cover;
			@include transition;
		}
	}

	&__card-text {
		@include text-style(15px, 400, 18px);
		@include transition;
	}

	&__nav {
		display: none;
		@media (max-width: 991px) {
			margin-top: 20px;
			@include flex(row, center, center);
		}
	}

	&__nav-prev {
		@include center;
	}

	&__nav-next {
		@include center;
	}

	&__link {
		margin-top: 50px;
		@include flex(row, flex-end, center, 10px);
		@include text-style(32px, 400, normal);
		text-transform: uppercase;
		@include transition;
		@media (max-width: 991px) {
			margin-top: 20px;
			@include text-style(20px, 400, 22px);
		}
		svg {
			fill: $black;
			@include transition;
		}
		&:hover {
			color: $accent;
			svg {
				fill: $accent;
			}
		}
	}
}
