@use '../abstracts' as *;

.author {
	margin-bottom: 50px;
	&__title {
		max-width: 656px;
		width: 100%;
		@include text-style(40px, 500, 42px);
		margin-bottom: 50px;
		span {
			color: $accent;
		}
		@media (max-width: 1024px) {
			@include text-style(32px, 500, 34px);
			margin-bottom: 20px;
		}
		@media (max-width: 767px) {
			max-width: 100%;
			@include text-style(24px, 500, 28px);
		}
	}

	&__content {
		@include flex(row, flex-start, flex-start, 50px);
		@media (max-width: 1024px) {
			flex-direction: column;
			gap: 20px;
			align-items: flex-end;
		}
	}

	&__text {
		@include flex(column, flex-start, flex-start, 20px);
		@media (max-width: 767px) {
			gap: 10px;
		}
		p {
			@include text-style(15px, 400, 18px);
		}
		ul > li {
			@include text-style(15px, 400, 18px);
			list-style-type: disc;
			margin-left: 20px;
		}
	}

	&__block {
		@include flex(column, space-between, flex-start);
		@include box(296px, 264px, 20px);
		flex-shrink: 0;
		padding: 20px;
		border-radius: 20px;
		background: $bg-light;
		margin-bottom: 10px;
		@media (max-width: 1024px) {
			@include box(100%, auto);
			gap: 20px;
		}
		@media (max-width: 767px) {
			@include box(296px, 264px);
		}
	}

	&__block-text {
		@include text-style(16px, 500, 20px);
	}

	&__block-title {
		@include text-style(24px, 500, 30px);
		span {
			color: $accent;
		}
		@media (max-width: 1024px) {
			margin-left: auto;
		}
	}

	&__person {
		@include flex(row, flex-end, center, 10px);
	}

	&__person-info {
		@include flex(column, center, flex-end, 5px);
	}

	&__person-name {
		@include text-style(16px, 500, 20px, right);
	}

	&__person-position {
		@include text-style(15px, 400, 18px, right);
	}

	&__person-img {
		@include box(74px, 74px, 50px);
		object-fit: cover;
	}
}
