@use '../abstracts' as *;

.benefits {
	margin: 100px auto;
	@media (max-width: 1024px) {
		margin: 70px auto;
	}
	@media (max-width: 767px) {
		margin: 50px auto;
	}
	&__title {
		margin-bottom: 50px;
		@media (max-width: 1024px) {
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__content {
		@include flex(row, space-between, flex-start, 20px);
		@media (max-width: 1024px) {
			flex-direction: column;
			justify-content: flex-start;
		}
	}

	&__left {
		position: relative;
		@include flex(column, flex-start, flex-start);
		flex-shrink: 0;
		@include box(618px, 595px, 20px);
		padding: 50px;
		overflow: hidden;
		@media (max-width: 1440px) {
			width: 50%;
		}
		@media (max-width: 1024px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			padding: 20px;
			height: 335px;
		}
	}

	&__left-img {
		position: absolute;
		left: 0;
		top: 0;
		@include box(100%);
		object-fit: cover;
	}

	&__left-text {
		z-index: 2;
		color: $white;
		@include text-style(24px, 400, 28px);
		margin-bottom: 50px;
		@media (max-width: 767px) {
			@include text-style(16px, 400, 18px);
			margin-bottom: 20px;
		}
	}

	&__left-btn {
		z-index: 2;
		padding: 22px 39px;
		@media (max-width: 767px) {
			padding: 15px;
		}
	}

	&__right {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		row-gap: 10px;
		column-gap: 30px;
		width: 530px;
		@media (max-width: 1440px) {
			width: 50%;
		}
		@media (max-width: 1024px) {
			width: 100%;
		}
	}

	&__right-item {
		@include flex(column, flex-start, flex-start, 10px);
		padding: 10px 20px;
		@media (max-width: 767px) {
			padding: 0;
		}
	}

	&__right-item--img {
		@include center;
		@include box(40px, 40px, 35px);
		background: $accent;
		@media (max-width: 767px) {
			@include box(24px, 24px, 30px);
		}
	}

	&__right-item--title {
		color: $black;
		@include text-style(20px, 500, 20px);
		@media (max-width: 767px) {
			@include text-style(16px, 500, 18px);
		}
	}

	&__right-item--text {
		color: $black;
		@include text-style(15px, 400, 18px);
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px);
		}
	}
}
