@use '../abstracts' as *;

.case-intro {
	padding-top: 20px;
	padding-bottom: 100px;
	@include box(100%, 498px);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	@media (max-width: 767px) {
		height: 440px;
		padding-top: 10px;
		padding-bottom: 50px;
	}

	&__content {
		@include box(100%);
		@include flex(column, space-between, flex-start);
	}

	.breadcrumbs__item {
		color: $white;
	}

	&__title {
		max-width: 760px;
		width: 100%;
		color: $white;
		@include text-style(40px, 500, 42px);
		@media (max-width: 767px) {
			max-width: 100%;
			@include text-style(24px, 500, 26px);
		}
	}
}
