@use '../abstracts' as *;

.case {
	margin-top: 50px;
	margin-bottom: 100px;
	@media (max-width: 1024px) {
		margin-bottom: 70px;
	}
	@media (max-width: 767px) {
		margin-top: 20px;
		margin-bottom: 50px;
	}

	&__body {
		position: relative;
		@include flex(row, center, flex-start, 42px);
		@media (max-width: 1024px) {
			flex-direction: column;
			gap: 20px;
		}
	}

	&__nav {
		position: sticky;
		left: 0;
		top: 120px;
		max-width: 243px;
		width: 100%;
		@include flex(column, flex-start, flex-start);
		@media (max-width: 1024px) {
			position: static;
			top: 0;
			max-width: 100%;
		}
		a {
			width: 100%;
			padding: 10px 20px;
			color: $accent;
			@include text-style(14px, 400, 16px);
			@media (max-width: 1024px) {
				padding: 10px 0;
			}
		}
		a:hover {
			color: $white;
			background: $accent;
			@media (max-width: 1024px) {
				color: $accent;
				background: $white;
			}
		}
		a.active {
			color: $white;
			background: $accent;
			@media (max-width: 1024px) {
				color: $accent;
				background: $white;
			}
		}
	}

	&__content {
		font-size: 16px;
		line-height: 1.5;
		color: $black;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6 {
			font-weight: 700;
			line-height: 1.3;
			margin: 40px 0 20px;
		}

		h2 {
			font-size: 32px;
		}
		h3 {
			font-size: 24px;
		}
		h4 {
			font-size: 20px;
		}

		p {
			margin-bottom: 20px;
		}

		ul {
			list-style-type: disc;
			padding-left: 24px;
			margin: 20px 0;
		}

		ol {
			list-style-type: decimal;
			padding-left: 24px;
			margin: 20px 0;
		}

		li {
			margin-bottom: 10px;
		}

		a {
			color: $accent;
			text-decoration: underline;
			transition: 0.2s;

			&:hover {
				text-decoration: none;
			}
		}

		img {
			@include box(100%, 345px, 20px);
			object-fit: cover;
			margin: 20px 0;
			@media (max-width: 767px) {
				height: 229px;
			}
		}

		blockquote {
			margin: 30px 0;
			padding: 20px 30px;
			background: #f5f5f5;
			border-left: 4px solid $accent;
			font-style: italic;
		}

		table {
			width: 100%;
			border-collapse: collapse;
			margin: 30px 0;
		}

		th,
		td {
			border: 1px solid #ddd;
			padding: 12px;
			text-align: left;
		}
	}

	&__author {
		position: sticky;
		top: 120px;
		right: 0;
		max-width: 243px;
		width: 100%;
		@media (max-width: 1024px) {
			position: static;
			top: 0;
			max-width: 600px;
			margin: auto;
			@include flex(column, center, center);
		}
	}

	&__author-avatar {
		position: relative;
		@include box(85px, 74px, 0px);
		margin-bottom: 10px;
		@media (max-width: 767px) {
			@include box(64px, 56px, 0px);
		}
	}

	&__author-img {
		@include box(74px, 74px, 50px);
		object-fit: cover;
		@media (max-width: 767px) {
			@include box(56px, 56px, 50px);
		}
	}

	&__author-link {
		position: absolute;
		right: 0;
		bottom: 0;
		@include center;
		@include box(32px, 32px, 40px);
		background: $black;
		&:hover {
			background: $accent;
		}
	}

	&__author-name {
		color: $black;
		@include text-style(16px, 500, 20px);
		margin-bottom: 5px;
	}

	&__author-text {
		color: $black;
		@include text-style(15px, 400, 18px);
		@media (max-width: 1024px) {
			text-align: center;
		}
	}
}
