@use '../abstracts' as *;

.clients {
	padding-top: 90px;
	padding-bottom: 100px;
	@media (max-width: 1024px) {
		padding-top: 70px;
		padding-bottom: 70px;
	}
	@media (max-width: 767px) {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	&__title {
		text-align: center;
		margin-bottom: 50px;
		@media (max-width: 1024px) {
			margin-bottom: 30px;
		}
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__swiper {
		@media (max-width: 1024px) {
			width: calc(100% + 40px);
			margin-right: -40px;
		}
		@media (max-width: 767px) {
			width: 100%;
			margin-right: 0;
		}
	}

	&__list {
		align-items: center;
	}

	&__list-item {
		@include center;
	}

	&__btn {
		@include box(291px, 68px, 48px);
		margin: auto;
		margin-top: 50px;
		@media (max-width: 767px) {
			@include box(343px, 51px, 48px);
			margin-top: 30px;
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}
}
