@use '../abstracts' as *;

.contacts {
	padding-top: 20px;
	padding-bottom: 100px;
	background-image: url(../img/bg-intro.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom;
	@media (max-width: 1024px) {
		padding-bottom: 70px;
	}
	@media (max-width: 767px) {
		padding-bottom: 50px;
	}
	&__content {
		margin-top: 50px;
		@include flex(row, space-between, stretch, 10px);
		@media (max-width: 1024px) {
			flex-direction: column;
			gap: 50px;
		}
		@media (max-width: 767px) {
			margin-top: 20px;
		}
	}

	&__left {
		@include flex(column, space-between, flex-start);
	}

	&__left-top {
		@include flex(column, flex-start, flex-start, 5px);
		@media (max-width: 1024px) {
			gap: 10px;
			margin-bottom: 20px;
		}
	}

	&__title {
		color: $black;
		@include text-style(40px, 500, 42px);
		@media (max-width: 767px) {
			@include text-style(24px, 500, 28px);
		}
	}

	&__text {
		color: $black;
		@include text-style(16px, 400, 20px);
	}

	&__list {
		@include flex(column, flex-start, flex-start, 30px);
		@media (max-width: 767px) {
			gap: 20px;
		}
	}

	&__item {
		@include flex(row, flex-start, center, 10px);
	}

	&__item-icon {
		@include center;
		@include box(40px, 40px, 35px);
		background: $accent;
	}

	&__item-info {
		@include flex(column, flex-start, flex-start, 5px);
	}

	&__item-label {
		color: $black;
		@include text-style(16px, 500, 20px);
	}

	&__item-value {
		color: $black;
		@include text-style(15px, 400, 18px);
	}

	&__line {
		display: block;
		@include box(362px, 1px);
		background: $accent;
		@media (max-width: 1024px) {
			margin: 20px 0;
			width: 100%;
		}
	}

	&__socials {
		@include flex(column, flex-start, flex-start, 20px);
	}

	&__socials-title {
		color: $black;
		@include text-style(16px, 500, 20px);
	}

	&__socials-list {
		@include flex(row, flex-start, center, 10px);
		@media (max-width: 1024px) {
			gap: 9px;
		}
	}

	&__socials-item {
		@include center;
		@include box(52px, 52px, 30px);
		background-color: $black;
		&:hover {
			background-color: $accent;
		}
	}

	&__right {
		@include flex(column, flex-start, flex-start);
		@include box(478px, auto);
		padding: 30px;
		border-radius: 20px;
		border: 1px solid $bg-grey;
		background: $white;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
		@media (max-width: 1024px) {
			width: 100%;
		}
		@media (max-width: 767px) {
			padding: 20px;
		}
	}

	&__right-title {
		color: $black;
		@include text-style(40px, 500, 42px);
		@media (max-width: 767px) {
			@include text-style(24px, 500, 28px);
		}
	}

	&__right-text {
		color: $black;
		@include text-style(16px, 400, 20px);
		margin-bottom: 20px;
	}

	&__form {
		@include flex(column, flex-start, flex-start, 10px);
		input {
			@include flex(row, flex-start, center);
			@include box(100%, 55px, 25px);
			padding: 23px 24px;
			@include text-style(16px, 400, 18px);
			border: 1px solid $white;
			background: $bg-light;
			&::placeholder {
				color: $grey;
				opacity: 1;
			}
			@media (max-width: 767px) {
				height: 45px;
				@include text-style(14px, 400, 16px);
			}
		}
		textarea {
			@include flex(row, flex-start, center);
			@include box(100%, 141px, 25px);
			padding: 23px 24px;
			@include text-style(16px, 400, 18px);
			border: 1px solid $white;
			background: $bg-light;
			resize: none;
			&::placeholder {
				color: $grey;
				opacity: 1;
			}
			@media (max-width: 767px) {
				height: 119px;
				@include text-style(14px, 400, 16px);
			}
		}

		.form-checkbox {
			@include flex(row, flex-start, flex-start, 12px);
			cursor: pointer;
			margin-top: 10px;
			margin-bottom: 10px;
			@media (max-width: 767px) {
				gap: 10px;
			}

			input {
				opacity: 0;
				width: 0;
				height: 0;
				position: absolute;
			}

			.checkmark {
				position: relative;
				@include box(20px, 20px, 5px);
				flex-shrink: 0;
				@include transition;
				border: 1px solid $accent;
				@media (max-width: 767px) {
					@include box(18px, 18px, 5px);
				}

				&::after {
					content: '';
					position: absolute;
					display: none;
					left: 6px;
					top: 3px;
					@include box(4px, 8px);
					border: solid $white;
					border-width: 0 2px 2px 0;
					transform: rotate(45deg);
					@media (max-width: 767px) {
						left: 5px;
						top: 2px;
					}
				}
			}

			input:checked ~ .checkmark {
				background-color: $accent;
			}

			input:checked ~ .checkmark::after {
				display: block;
			}

			.checkbox-text {
				flex: 1;
				@include text-style(14px, 400, 13px);
				@media (max-width: 767px) {
					font-size: 14px;
				}
				a {
					text-decoration-line: underline;
					text-decoration-style: solid;
					text-decoration-skip-ink: auto;
					text-decoration-thickness: auto;
					text-underline-offset: auto;
				}
			}
		}

		button {
			@include box(100%, 68px, 48px);
			@media (max-width: 767px) {
				@include box(100%, 49px, 48px);
			}
		}
	}
}
