@use '../abstracts' as *;

.header {
	position: relative;
	@include flex(row, space-between, center);
	padding-top: 20px;
	padding-bottom: 20px;
	@media (max-width: 767px) {
		padding-top: 14px;
		padding-bottom: 14px;
	}
	&__logo {
		@include center;
		@media (max-width: 767px) {
			@include box(114px, 34px);
			object-fit: cover;
		}
	}

	&__nav {
		@include flex(row, center, center, 32px);
		padding: 13px 20px;
		border-radius: 20px;
		background: $bg-dark;
		@media (max-width: 1024px) {
			display: none;
		}
	}

	&__nav-item {
		position: relative;
		cursor: pointer;
	}

	&__nav-item:hover {
		.header__nav-item--list {
			opacity: 1;
			pointer-events: all;
		}
		.header__nav-item--main {
			color: $accent;
		}
		.header__nav-item--main > svg {
			fill: $accent;
			transform: rotateX(180deg);
		}
	}

	&__nav-item--main {
		@include flex(row, center, center, 5px);
		color: $white;
		@include text-style(16px, 400, 20px, center);
		@media (max-width: 1024px) {
			color: $black;
			@include text-style(24px, 400, 20px, center);
		}
		@media (max-width: 767px) {
			@include text-style(16px, 400, 20px, center);
		}
	}

	&__nav-item--main > svg {
		fill: $white;
		@include transition;
		@media (max-width: 1024px) {
			fill: $black;
		}
	}
	&__nav-item--main > img {
		@media (max-width: 1024px) {
			color: $black;
			@include box(40px);
		}
		@media (max-width: 767px) {
			@include box(20px);
		}
	}

	&__nav-item--list {
		position: absolute;
		left: 0;
		top: 100%;
		opacity: 0;
		pointer-events: none;
		@include transition;
		width: fit-content;
		@include flex(column, flex-start, flex-start);
		padding: 10px;
		border-radius: 5px;
		background: #202020;
	}

	&__nav-item--item {
		padding: 10px;
		width: 100%;
		color: $white;
		@include text-style(16px, 400, 20px);
		white-space: nowrap;
		a {
			display: block;
			width: 100%;
		}
		&:hover {
			color: $accent;
		}
	}

	&__nav-link {
		@include flex(row, center, center, 5px);
		color: $white;
		@include text-style(16px, 400, 20px, center);
		&:hover {
			color: $accent;
		}
	}

	&__contacts {
		@include flex(column, flex-start, flex-start, 3px);
		@media (max-width: 1024px) {
			display: none;
		}
	}

	&__contacts-phone {
		position: relative;
		width: 200px;
		a {
			@include flex(row, flex-start, center, 10px);
			color: $bg-dark;
			@include text-style(14px, 400, 16px);
		}
		button {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 0;
			color: $accent;
			@include text-style(14px, 400, 16px);
			background: linear-gradient(
				to right,
				rgba(255, 255, 255, 0) 0px,
				rgba(255, 255, 255, 1) 25px // повністю білий на 15px
			);
			padding-left: 30px;
			z-index: 2;
		}
	}

	&__contacts-email {
		@include flex(row, flex-start, center, 10px);
		color: $bg-dark;
		@include text-style(14px, 400, 16px);
	}

	&__mobile-panel {
		display: none;
		@media (max-width: 1024px) {
			@include flex(row, flex-end, center, 20px);
		}
	}

	&__burger {
		background: none;
		border: 0;
		cursor: pointer;

		.line {
			fill: #f65e01;
			transition: transform 0.35s ease, opacity 0.25s ease;
			transform-origin: center;
		}

		&.open {
			.line--top {
				transform: translateY(10px) rotate(45deg);
			}

			.line--middle {
				opacity: 0;
			}

			.line--bottom {
				transform: translateY(-10px) rotate(-45deg);
			}
		}
	}
}
.mobile-menu-wrap {
	position: absolute;
	left: 0;
	top: 87px;
	width: 100%;
	height: fit-content;
	padding: 13px 0 64px 0;
	border-bottom: 2px solid $accent;
	background: $white;
	z-index: 2;
	opacity: 0;
	pointer-events: none;
	transform: translateY(-10px);
	@include transition;
	@media (max-width: 767px) {
		top: 63px;
		height: calc(100vh - 63px);
	}
	&.open {
		opacity: 1;
		pointer-events: all;
		transform: translateY(0);
	}
	@media (max-width: 767px) {
		border-bottom: 0;
	}
}

.mobile-menu {
	width: 100%;
	&__top {
		margin-bottom: 20px;
	}

	&__nav {
		width: 100%;
		@include flex(column, flex-start, flex-start, 10px);
	}

	&__nav-item {
		width: 100%;
		position: relative;
		cursor: pointer;
	}

	&__nav-item.active {
		.mobile-menu__nav-item--wrap {
			max-height: 500px;
			opacity: 1;
		}
		.mobile-menu__nav-item--main > svg {
			transform: rotateX(180deg);
		}
	}

	&__nav-item--main {
		@include flex(row, space-between, center, 5px);
		color: $black;
		@include text-style(16px, 500, 20px, center);
	}

	&__nav-item--main > svg {
		fill: $black;
		@include transition;
	}

	&__nav-item--wrap {
		overflow: hidden;
		max-height: 0;
		opacity: 0;
		@include transition;
	}

	&__nav-item--list {
		margin-top: 10px;
		padding: 10px;
		width: 100%;
		@include flex(column, flex-start, flex-start, 10px);
		border-radius: 5px;
		background: $accent;
	}

	&__nav-item--item {
		width: 100%;
		color: $white;
		@include text-style(16px, 500, 20px);
		border-bottom: 1px solid #ffa770;
		a {
			display: block;
			width: 100%;
		}
	}

	&__nav-link {
		@include flex(row, center, center, 5px);
		color: $black;
		@include text-style(16px, 500, 20px, center);
	}

	&__socials {
		margin-top: 50px;
		@include flex(row, flex-start, center, 4px);
		@media (max-width: 767px) {
			margin-top: 0;
			position: absolute;
			left: 16px;
			bottom: 64px;
		}
	}

	&__social {
		@include center;
		@include box(50px, 50px, 30px);
		flex-shrink: 0;
		background: #2c2c2c;
		&:hover {
			background: $accent;
		}
	}
}
