@use '../abstracts' as *;

.hero-wrap {
	background-image: url(../img/hero.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: bottom right;
	@media (max-width: 1024px) {
		background-image: url(../img/hero-tablet.jpg);
	}
}

.hero {
	padding: 50px 0 100px 0;
	@include flex(row, space-between, flex-start, 20px);
	height: 787px;
	@media (min-width: 1440px) {
		padding: 40px 0 100px 0;
		height: calc(100vh - 87px);
	}
	@media (max-width: 1024px) {
		padding: 40px 0 110px 0;
		height: 1107px;
	}
	@media (max-width: 767px) {
		padding: 20px 0;
		height: 752px;
	}
	&__left {
		@include flex(column, space-between, flex-start);
		max-width: 709px;
		width: 100%;
		height: 100%;
		@media (max-width: 1024px) {
			justify-content: flex-start;
		}
	}

	&__left-top {
		@include flex(column, flex-start, flex-start, 30px);
		@media (max-width: 1024px) {
			gap: 20px;
			margin-bottom: 50px;
		}
		@media (max-width: 767px) {
			margin-bottom: 20px;
		}
	}

	&__title {
		font-family: $font-secondary;
		@include text-style(54px, 500, 70px);
		text-transform: uppercase;
		span {
			display: inline-block;
			@include box(9px, 9px, 20px);
			background: $accent;
		}
		@media (max-width: 1024px) {
			@include text-style(48px, 500, 50px);
		}
		@media (max-width: 767px) {
			@include text-style(32px, 500, 36px, center);
		}
	}

	&__text {
		@include text-style(24px, 400, 30px);
		min-height: 71px;
		@media (max-width: 1024px) {
			@include text-style(20px, 500, 22px);
			min-height: 43px;
		}
		@media (max-width: 767px) {
			@include text-style(16px, 500, 18px, center);
			min-height: 60px;
		}
	}

	&__left-middle {
		@include flex(row, flex-start, center, 20px);
		@media (max-width: 1024px) {
			margin-bottom: 57px;
		}
		@media (max-width: 767px) {
			gap: 10px;
			margin-bottom: 44px;
		}
		@media (max-width: 480px) {
			flex-direction: column;
			width: 100%;
		}
	}

	&__left-bottom-middle {
		display: none;
		@media (max-width: 1024px) {
			max-width: 308px;
			width: 100%;
			@include flex(column, flex-start, flex-start, 13px);
			margin-bottom: 108px;
			@media (max-width: 767px) {
				@include flex(row, flex-start, center, 5px);
				max-width: 212px;
				margin-bottom: 0;
			}
			img {
				@media (max-width: 767px) {
					@include box(40px);
				}
			}
			p {
				@include text-style(20px, 400, 22px);
				@media (max-width: 767px) {
					@include text-style(13px, 400, 16px);
				}
			}
		}
	}

	&__btn-primary {
		@include box(291px, 68px);
		@media (max-width: 767px) {
			@include box(173px, 51px);
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}

	&__btn-secondary {
		@include box(291px, 68px);
		@media (max-width: 767px) {
			@include box(173px, 51px);
		}
		@media (max-width: 480px) {
			width: 100%;
		}
	}

	&__left-bottom {
		@include flex(row, flex-start, flex-start, 50px);
		@media (max-width: 1024px) {
			flex-direction: column;
		}
		@media (max-width: 767px) {
			display: none;
		}
	}

	&__left-bottom--item {
		@include flex(column, flex-start, flex-start, 5px);
		p {
			@include text-style(40px, 500, 42px);
		}
		span {
			@include text-style(15px, 400, 18px);
		}
		@media (max-width: 1024px) {
			max-width: 203px;
			width: 100%;
		}
	}

	&__right {
		max-width: 308px;
		width: 100%;
		@include flex(column, flex-start, flex-start, 13px);
		p {
			@include text-style(24px, 400, 30px);
		}
		@media (max-width: 1024px) {
			display: none;
		}
	}

	&__right-arrow {
		opacity: 0;
		transform: translateY(20px);
		transition: opacity 3s ease, transform 3s ease;
	}

	&__right-arrow.is-visible {
		opacity: 1;
		transform: translateY(0);
	}
}
