@use '../abstracts' as *;

.intro-wrap {
	padding: 20px 0;
	height: 498px;
	background-image: url(../img/bg-intro.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: top;
	@media (max-width: 1024px) {
		height: auto;
		background-position: bottom;
	}
	@media (max-width: 767px) {
		padding-top: 10px;
		height: 440px;
		background-position: bottom;
	}
}
.intro {
	max-width: 719px;
	width: 100%;
	margin: auto;
	margin-top: 50px;
	@include flex(column, center, center);
	@media (max-width: 1024px) {
		max-width: 100%;
		margin-top: 30px;
	}
	&__img {
		margin-bottom: 10px;
		@media (max-width: 1024px) {
			margin-bottom: 15px;
		}
	}

	&__title {
		color: $black;
		font-family: $font-secondary;
		@include text-style(40px, 500, 42px, center);
		text-transform: uppercase;
		margin-bottom: 20px;
		@media (max-width: 767px) {
			@include text-style(24px, 500, 28px, center);
		}
	}

	&__text {
		color: $black;
		@include text-style(16px, 500, 20px, center);
		margin-bottom: 20px;
		@media (max-width: 767px) {
			line-height: 18px;
		}
	}

	&__btn {
		padding: 26px 30px;
		@media (max-width: 480px) {
			padding: 16px;
			width: 100%;
		}
	}

	&__tabs {
		margin-top: 50px;
		@include flex(row, center, center, 20px);
		flex-wrap: wrap;
		max-width: 562px;
		@media (max-width: 991px) {
			justify-content: flex-start;
			margin-top: 30px;
			max-width: 100%;
		}
	}

	&__tab {
		@include center;
		padding: 5px 20px;
		color: $black;
		@include text-style(16px, 500, 20px, center);
		border-radius: 5px;
		border: 1px solid $grey;
		@media (max-width: 991px) {
			@include text-style(20px, 500, 24px, center);
		}

		&:hover {
			color: $accent;
			border-color: $accent;
		}
		&.active {
			color: $accent;
			border-color: $accent;
		}
	}
}
