@use '../abstracts' as *;

.mailing-wrap {
	padding: 50px 0;
	background: $bg-light;
	margin-bottom: 50px;
	@media (max-width: 991px) {
		padding: 20px 0;
	}
}
.mailing {
	@include flex(column, center, center);
	&__title {
		@include text-style(40px, 500, 42px, center);
		margin-bottom: 10px;
		@media (max-width: 1024px) {
			@include text-style(32px, 500, 34px, center);
		}
		@media (max-width: 767px) {
			@include text-style(24px, 500, 28px, center);
		}
		span {
			display: inline-block;
			@include box(9px, 9px, 20px);
			background: $accent;
			margin-left: 5px;
			@media (max-width: 1024px) {
				@include box(7px, 7px, 20px);
			}
			@media (max-width: 767px) {
				@include box(4px, 4px, 20px);
			}
		}
	}

	&__text {
		@include text-style(20px, 40, 24px, center);
		margin-bottom: 39px;
		@media (max-width: 991px) {
			@include text-style(14px, 40, 16px, center);
		}
	}

	&__form {
		@include flex(row, center, center, 10px);
		@media (max-width: 991px) {
			width: 100%;
			flex-direction: column;
			gap: 20px;
		}
		input {
			@include flex(row, flex-start, center);
			@include box(499px, 55px, 25px);
			padding: 23px 24px;
			@include text-style(16px, 400, 18px);
			border: 1px solid $white;
			background: $white;
			&::placeholder {
				color: $grey;
				opacity: 1;
			}
			@media (max-width: 767px) {
				@include box(100%, 49px);
			}
		}

		button {
			@include center;
			color: $white;
			@include box(291px, 57px, 48px);
			@include text-style(18px, 700, 20px, center);
			background: linear-gradient(
				274deg,
				#ffc420 0%,
				#fe4b08 39%,
				#fe4b08 57%,
				#ffc420 100%
			);
			background-size: 200% 200%; // робимо великий "полотно" градієнта
			box-shadow: 12px 0 12px 0 rgba(255, 255, 255, 0.25) inset,
				-2px -4px 8px 0 rgba(255, 255, 255, 0.25) inset;
			&:hover {
				background-position: 100% 0; // при ховері зміщуємо градієнт
			}
			@media (max-width: 767px) {
				@include box(100%, 49px, 48px);
				@include text-style(14px, 700, 16px, center);
			}
		}
	}
}
