@use '../abstracts' as *;

.mailing-wrap {
	padding: 50px 0;
	background: $bg-light;
	margin-bottom: 50px;
	@media (max-width: 991px) {
		padding: 20px 0;
	}
}
.mailing {
	@include flex(column, center, center);
	&__title {
		text-align: center;
		margin-bottom: 10px;
	}

	&__text {
		@include text-style(20px, 40, 24px, center);
		margin-bottom: 39px;
		@media (max-width: 991px) {
			@include text-style(14px, 40, 16px, center);
		}
	}

	&__form {
		@include flex(row, center, center, 10px);
		@media (max-width: 991px) {
			width: 100%;
			flex-direction: column;
			gap: 20px;
		}
		input {
			@include flex(row, flex-start, center);
			@include box(499px, 55px, 25px);
			padding: 23px 24px;
			@include text-style(16px, 400, 18px);
			border: 1px solid $white;
			background: $white;
			&::placeholder {
				color: $grey;
				opacity: 1;
			}
			@media (max-width: 767px) {
				@include box(100%, 49px);
			}
		}

		button {
			@include box(291px, 57px, 48px);
			@media (max-width: 767px) {
				@include box(100%, 49px, 48px);
			}
		}
	}
}
