@use '../abstracts' as *;

.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	@include center;
	background: rgba(0, 0, 0, 0);
	opacity: 0;
	pointer-events: none;
	@include transition;
	z-index: 1000;

	&.active {
		opacity: 1;
		pointer-events: auto;
		background: rgba(0, 0, 0, 0.6);
	}

	&__content {
		background: $white;
		padding: 53px 20px 20px 20px;
		border-radius: 20px;
		max-width: 582px;
		width: 100%;
		position: relative;
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		@include center;
	}

	&__title {
		@include text-style(40px, 500, 42px);
		margin-bottom: 8px;
	}

	&__text {
		@include text-style(16px, 400, 20px);
		margin-bottom: 20px;
	}

	&__form {
		width: 100% !important;
		padding: 0 !important;
		border-radius: 0 !important;
		background: $white !important;
		box-shadow: none !important;
	}
}
