@use '../abstracts' as *;

.services-wrap {
	background: url(../img/bg-advantages.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 50px 0;
	@media (max-width: 1024px) {
		padding: 40px 0 70px 0;
	}
	@media (max-width: 767px) {
		padding: 50px 0;
	}
}
.services {
	padding: 50px 30px;
	border-radius: 40px;
	background: rgba(146, 146, 146, 0.1);
	backdrop-filter: blur(40px);
	@media (max-width: 1024px) {
		padding: 30px;
	}
	@media (max-width: 767px) {
		padding: 10px 5px;
		border-radius: 20px;
	}
	&__title {
		@include text-style(40px, 500, 42px, center);
		margin-bottom: 20px;
		@media (max-width: 1024px) {
			@include text-style(32px, 500, 34px, center);
			margin-bottom: 10px;
		}
		@media (max-width: 767px) {
			@include text-style(24px, 500, 28px, center);
		}
		span {
			display: inline-block;
			@include box(9px, 9px, 20px);
			background: $accent;
			margin-left: 5px;
			@media (max-width: 1024px) {
				@include box(7px, 7px, 20px);
			}
			@media (max-width: 767px) {
				@include box(4px, 4px, 20px);
			}
		}
	}

	&__text {
		max-width: 488px;
		width: 100%;
		color: $grey;
		@include text-style(16px, 400, 20px, center);
		margin: auto;
		margin-bottom: 20px;
		@media (max-width: 767px) {
			@include text-style(14px, 400, 16px, center);
		}
	}

	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 9px;
		@media (max-width: 1024px) {
			grid-template-columns: repeat(2, 1fr);
		}
	}

	&__item {
		padding: 5px 10px;
		border-radius: 10px;
		background: $white;
		min-height: 230px;
		@media (max-width: 1024px) {
			min-height: 250px;
		}
		@media (max-width: 767px) {
			max-height: 268px;
			padding: 5px;
		}
	}

	&__item-img {
		margin: auto;
		margin-bottom: 20px;
		@media (max-width: 1024px) {
			margin-bottom: 10px;
		}
	}

	&__item-title {
		@include text-style(20px, 500, 20px);
		margin-bottom: 10px;
		@media (max-width: 1024px) {
			@include text-style(16px, 500, 18px);
		}
		@media (max-width: 767px) {
			margin-bottom: 5px;
		}
	}

	&__item-list {
		@include flex(column, flex-start, flex-start, 10px);
		color: $grey;
		@include text-style(16px, 400, 20px);
		@media (max-width: 1024px) {
			@include text-style(16px, 400, 18px);
		}
		@media (max-width: 767px) {
			@include text-style(11px, 400, 14px);
		}
	}

	&__item-list > li {
		list-style-type: disc;
		margin-left: 20px;
	}
}
