@use '../abstracts' as *;

.testimonials {
	padding-top: 50px;
	padding-bottom: 100px;
	@media (max-width: 1024px) {
		padding-top: 30px;
		padding-bottom: 70px;
	}
	@media (max-width: 767px) {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	&__list {
		@include flex(column, center, center, 50px);
		margin-bottom: 50px;
		@media (max-width: 767px) {
			gap: 15px;
		}
	}

	&__item {
		width: 100%;
		@include flex(column, center, center);
		padding-bottom: 50px;
		border-bottom: 1px solid #ddd;
		@media (max-width: 767px) {
			padding-bottom: 20px;
		}
	}

	&__rating {
		@include flex(row, center, center, 1px);
		margin-bottom: 10px;
	}

	&__rating-star {
		@include center;
	}

	&__text {
		max-width: 704px;
		width: 100%;
		color: #2a2d3c;
		@include text-style(20px, 400, 24px, center);
		margin-bottom: 24px;
		@media (max-width: 767px) {
			max-width: 100%;
			@include text-style(16px, 400, 18px, center);
		}
	}

	&__author {
		@include flex(row, flex-start, center, 4px);
		@include box(213px, 60px, 30px);
		padding: 5px;
		background: #f6f6f6;
	}

	&__author-img {
		@include box(50px, 50px, 30px);
		object-fit: cover;
	}

	&__author-info {
		@include flex(column, flex-start, flex-start, 7px);
	}

	&__author-name {
		color: $black;
		@include text-style(16px, 500, 20px);
	}

	&__author-company {
		color: $black;
		@include text-style(14px, 400, 16px);
	}
}
