@use '../abstracts' as *;

.vacancy {
	margin-top: 20px;
	margin-bottom: 100px;
	@media (max-width: 1024px) {
		margin-bottom: 70px;
	}
	@media (max-width: 767px) {
		margin-bottom: 50px;
	}
	&__body {
		position: relative;
		width: 100%;
		margin-top: 50px;
		@include flex(row, flex-start, flex-start, 58px);
		@media (max-width: 1024px) {
			margin-top: 30px;
			flex-direction: column;
			gap: 50px;
		}
	}

	&__name {
		position: sticky;
		top: 120px;
		left: 0;
		@include flex(column, flex-start, flex-start);
		flex-shrink: 0;
		@include box(462px, auto, 30px);
		padding: 20px;
		background: $white;
		box-shadow: 15px 15px 30px 0 rgba(190, 190, 190, 0.3);
		@media (max-width: 1024px) {
			width: 100%;
			position: static;
			top: 0;
		}
	}

	&__name-title {
		color: $black;
		@include flex(row, flex-start, flex-start, 5px);
		@include text-style(40px, 500, 42px);
		text-transform: uppercase;
		margin-bottom: 20px;
		@media (max-width: 1024px) {
			@include text-style(24px, 500, 28px);
		}
	}

	&__name-tabs {
		@include flex(row, flex-start, center, 5px);
		flex-wrap: wrap;
		margin-bottom: 50px;
		@media (max-width: 1024px) {
			margin-bottom: 20px;
		}
	}

	&__name-tab {
		@include flex(row, center, center, 5px);
		padding: 4px 10px;
		color: $black;
		@include text-style(18px, 400, 25px);
		border-radius: 5px;
		background: #eaeaea;
	}

	&__name-btn {
		@include box(100%, 68px);
		@media (max-width: 1024px) {
			height: 51px;
		}
	}

	&__content {
		@include box(100%, auto, 30px);
		padding: 20px;
		background: $white;
		box-shadow: 15px 15px 30px 0 rgba(190, 190, 190, 0.3);
		@media (max-width: 767px) {
			padding: 0;
			box-shadow: none;
		}
	}

	&__content-title {
		color: $black;
		@include text-style(32px, 500, 34px);
		margin-bottom: 20px;
		@media (max-width: 767px) {
			@include text-style(24px, 500, 26px);
			margin-bottom: 10px;
		}
	}

	&__content-text {
		color: $black;
		@include text-style(18px, 400, 20px);
		margin-bottom: 20px;
		@media (max-width: 767px) {
			@include text-style(16px, 400, 18px);
			margin-bottom: 50px;
		}
	}

	&__content-switcher {
		@include flex(column, flex-start, flex-start);
		padding: 20px;
		border-radius: 20px;
		border: 1px solid $accent;
		@media (max-width: 767px) {
			padding: 0;
			border: none;
		}
	}

	&__content-tabs {
		width: 100%;
		@include flex(row, center, center, 10px);
		margin-bottom: 20px;
		@media (max-width: 767px) {
			gap: 5px;
			justify-content: flex-start;
		}
	}

	&__content-tab {
		@include center;
		@include box(33%, 58px);
		padding: 4px 10px;
		color: $black;
		@include text-style(18px, 700, 20px, center);
		border-radius: 10px;
		background: $bg-grey;
		@media (max-width: 767px) {
			@include text-style(14px, 500, 16px, center);
			height: 45px;
		}
		&:hover {
			color: $white;
			background: $accent;
		}
		&.active {
			color: $white;
			background: $accent;
		}
	}

	&__content-block {
		p,
		li,
		a,
		span {
			color: $black;
			@include text-style(18px, 400, 20px);
			margin: 2px 0;
			@media (max-width: 767px) {
				@include text-style(16px, 400, 18px);
			}
		}
		ol {
			list-style-type: decimal;
			margin-left: 25px;
		}
		ul {
			list-style-type: disc;
			margin-left: 20px;
		}
	}
}

.vacancy-apply {
	padding: 50px 0;
	background-image: url(../img/vacancy-apply.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	@media (max-width: 767px) {
		padding: 20px 0;
	}
	&__title {
		color: $black;
		@include text-style(40px, 500, 42px, center);
		margin-bottom: 20px;
		@media (max-width: 767px) {
			@include text-style(24px, 500, 28px, center);
			margin-bottom: 10px;
		}
	}

	&__text {
		color: $black;
		@include text-style(16px, 500, 20px, center);
		margin-bottom: 40px;
		@media (max-width: 767px) {
			@include text-style(16px, 500, 18px, center);
			margin-bottom: 20px;
		}
	}

	&__btn {
		padding: 22px 30px;
		margin: auto;
		@media (max-width: 767px) {
			padding: auto;
			@include box(100%, 51px);
		}
	}
}
