@use '../abstracts' as *;

.vacancies {
	margin-top: 50px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 24px;
	@media (max-width: 1024px) {
		margin-top: 30px;
		margin-bottom: 20px;
	}
	@media (max-width: 767px) {
		margin-top: 20px;
		gap: 20px;
		grid-template-columns: repeat(1, 1fr);
	}
	&__item {
		@include flex(column, flex-start, flex-start, 10px);
		padding: 20px;
		border-radius: 30px;
		border: 1px solid #ececec;
		background: $white;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
		&:hover {
			box-shadow: 0 4px 4px 0 rgba(246, 94, 1, 0.5);
			.vacancies__item-link {
				background: $accent;
				svg {
					fill: $white;
					transform: rotate(-45deg);
				}
			}
		}
	}

	&__item-title {
		@include flex(row, flex-start, center, 10px);
		color: $black;
		@include text-style(24px, 500, 26px);
		@media (max-width: 767px) {
			gap: 5px;
			@include text-style(20px, 500, 22px);
		}
	}

	&__item-tabs {
		@include flex(row, flex-start, center, 5px);
		flex-wrap: wrap;
	}

	&__item-tab {
		@include flex(row, center, center, 5px);
		padding: 4px 10px;
		color: $black;
		@include text-style(18px, 400, 20px);
		border-radius: 5px;
		background: #eaeaea;
	}

	&__item-bottom {
		width: 100%;
		@include flex(row, space-between, center);
	}

	&__item-logo {
		@include box(86px, 24px);
	}

	&__item-link {
		@include center;
		@include box(50px, 50px, 40px);
		background: $white;
		box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
		@include transition;
		@media (max-width: 767px) {
			@include box(42px, 42px, 40px);
		}
		svg {
			fill: $black;
			@include transition;
		}
	}
}
