$black: #000;
$white: #ffffff;
$accent: #f65e01;
$grey: #9498ab;
$bg-dark: #222222;
$bg-light: #f6f6f6;
$bg-grey: #ebebeb;

$font-primary: 'Gotham Pro', sans-serif;
$font-secondary: 'M PLUS 1', sans-serif;
