@use './base/fonts' as *;
@use './base/reset' as *;
@use './base/base' as *;
@use './base/utilities' as *;
@use './base/container' as *;

@use './blocks/header' as *;
@use './blocks/hero' as *;
@use './blocks/advantages' as *;
@use './blocks/clients' as *;
@use './blocks/price' as *;
@use './blocks/planner' as *;
@use './blocks/services' as *;
@use './blocks/team' as *;
@use './blocks/author' as *;
@use './blocks/consultation' as *;
@use './blocks/newspaper' as *;
@use './blocks/roadmap' as *;
@use './blocks/reviews' as *;
@use './blocks/articles' as *;
@use './blocks/mailing' as *;
@use './blocks/faq' as *;
@use './blocks/intro' as *;
@use './blocks/cases' as *;
@use './blocks/project-team' as *;
@use './blocks/benefits' as *;
@use './blocks/portfolio' as *;
@use './blocks/about' as *;
@use './blocks/company' as *;
@use './blocks/mission' as *;
@use './blocks/blog' as *;
@use './blocks/article' as *;
@use './blocks/case' as *;
@use './blocks/case-intro' as *;
@use './blocks/vacancies' as *;
@use './blocks/vacancy' as *;
@use './blocks/testimonials' as *;
@use './blocks/policy' as *;
@use './blocks/404' as *;
@use './blocks/contacts' as *;
@use './blocks/modal' as *;
@use './blocks/footer' as *;
