@use './base/fonts' as *;
@use './base/reset' as *;
@use './base/base' as *;
@use './base/utilities' as *;
@use './base/container' as *;

@use './blocks/header' as *;
@use './blocks/hero' as *;
@use './blocks/advantages' as *;
@use './blocks/clients' as *;
@use './blocks/price' as *;
@use './blocks/planner' as *;
@use './blocks/services' as *;
@use './blocks/team' as *;
@use './blocks/author' as *;
@use './blocks/consultation' as *;
@use './blocks/footer' as *;
